/*Reset Styles*/

body {
    background-color: darkgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.grid-container {
    height: 100vh;
    border: 1px solid red;
    width: 1440px;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-rows: 280px 280px;
    grid-template-columns: 300px 150px 300px 300px;
    gap: 2rem;
    padding: 1rem;
    grid-template-areas:
        "one one two three"
        "four five five three ";
}
.grid-section {
    border: 1px solid black;
}
.one {
    grid-area: one;
}
.two {
    grid-area: two;
}
.three {
    grid-area: three;
    /*font-size: 2vh;*/
    line-height: 3vh;
    /*height: 100vh;*/
}
.four {
    grid-area: four;
}
.five {
    grid-area: five;
}
